@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie Listings</h1>
    <p class="lead">Browse the available listings for current Movies - Info provided includes the movie title, genre, duration and more! </p>
    <p><a href="https://procatinator.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>
            Check out all of the hot new movies!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Theatres</h2>
        <p>Find a theatre nearest to you!</p>
    </div>
    <div class="col-md-4">
        <h2>Show Times</h2>
        <p>You can easily find a show time that is convenient for you!</p>
    </div>
</div>